In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.impute import SimpleImputer
from sklearn.pipeline import make_pipeline

from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder


from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression

In [9]:
adult_df = pd.read_csv("adult.txt")
covtype_df = pd.read_csv("covtype.txt",names=list(range(0,55)))
letter_df = pd.read_csv("letter-recognition.txt",names=list(range(0,17)))

In [22]:
X = adult_df[['workclass', 'marital-status', 'occupation', 'relationship']]
y = adult_df.iloc[:,-1]

In [14]:
from sklearn.compose import make_column_transformer

column_trans = make_column_transformer((OneHotEncoder(handle_unknown='ignore'),
                                        ['workclass', 'marital-status', 'occupation']),
                                      (OrdinalEncoder(), ['relationship']),
                                      remainder='drop')
logreg = LogisticRegression()
pipe = make_pipeline(column_trans, logreg)
cross_val_score(pipe, X, y, cv=10, scoring='neg_mean_absolute_error').mean().round(2)

NameError: name 'make_pipeline' is not defined

In [10]:
imp_mean = SimpleImputer(missing_values=" ?", strategy="most_frequent").fit(adult_df)
adult_df = pd.DataFrame(imp_mean.transform(adult_df), columns=adult_df.columns)
adult_df.sample(15)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,dat
13773,36,Private,163290,Some-college,10,Divorced,Sales,Unmarried,White,Female,0,0,40,United-States,<=50K
17455,25,Private,427744,10th,6,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States,<=50K
21434,55,Federal-gov,169133,Bachelors,13,Divorced,Prof-specialty,Unmarried,White,Male,0,0,40,United-States,<=50K
12956,18,Private,100875,11th,7,Never-married,Other-service,Unmarried,White,Female,0,0,28,United-States,<=50K
25851,38,Private,809585,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,40,United-States,>50K
28834,29,Private,207473,7th-8th,4,Married-civ-spouse,Transport-moving,Husband,White,Male,0,0,40,Mexico,<=50K
21475,56,Self-emp-not-inc,62539,11th,7,Widowed,Other-service,Unmarried,White,Female,0,0,65,Greece,>50K
32474,36,Private,186819,Assoc-acdm,12,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,52,United-States,>50K
2096,26,Private,125680,Bachelors,13,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,0,0,16,Japan,<=50K
27397,32,Local-gov,114733,Bachelors,13,Divorced,Prof-specialty,Unmarried,White,Female,0,0,35,United-States,<=50K
22983,56,Private,32604,Some-college,10,Never-married,Prof-specialty,Not-in-family,Black,Female,0,0,40,United-States,<=50K
28936,33,Private,190511,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,30,United-States,<=50K
2101,52,Private,150930,Assoc-voc,11,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States,<=50K
23041,34,Private,198265,Some-college,10,Married-civ-spouse,Tech-support,Husband,White,Male,3103,0,40,United-States,>50K
9698,20,Private,334633,HS-grad,9,Divorced,Adm-clerical,Not-in-family,White,Female,0,0,40,United-States,<=50K

In [4]:
pred_column = covtype_df[54]
positive_label = pred_column.value_counts().index[0]
pred_column = np.where(pred_column == positive_label, 1, 0)

covtype_df.drop(columns=[54],inplace=True)

In [5]:
scaler = MinMaxScaler().fit(covtype_df)
covtype_df = pd.DataFrame(scaler.transform(covtype_df),columns=covtype_df.columns)
covtype_df.insert(54,54,pred_column,True)
covtype_df.sample(10)

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
258428,0.221111,0.000000,0.181818,0.202577,0.291990,0.171702,0.795276,0.854331,0.598425,0.118500,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
50283,0.571286,0.222222,0.121212,0.561918,0.320413,0.747927,0.909449,0.885827,0.500000,0.837864,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
451157,0.636318,0.977778,0.136364,0.021475,0.229974,0.123367,0.807087,0.885827,0.622047,0.275059,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
396489,0.712856,0.519444,0.242424,0.360057,0.418605,0.408178,0.866142,0.984252,0.622047,0.132302,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
413850,0.490745,0.841667,0.409091,0.339298,0.337209,0.261908,0.527559,0.842520,0.846457,0.284400,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
337189,0.642321,0.016667,0.166667,0.299213,0.244186,0.282984,0.814961,0.862205,0.586614,0.139830,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
270936,0.531266,0.930556,0.257576,0.214746,0.350129,0.044822,0.700787,0.842520,0.685039,0.202426,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
206968,0.699350,0.630556,0.136364,0.336435,0.258398,0.633553,0.818898,0.976378,0.696850,0.127980,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
515321,0.701351,0.880556,0.227273,0.395848,0.281654,0.084727,0.704724,0.885827,0.732283,0.216646,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
449292,0.566283,0.963889,0.257576,0.047960,0.242894,0.195588,0.728346,0.830709,0.637795,0.191830,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [6]:
letter_col,pred_column = letter_df[0], letter_df[16]
letter_df.drop(columns=[0,16],inplace=True)

In [7]:
scaler = MinMaxScaler().fit(letter_df)
letter_df = pd.DataFrame(scaler.transform(letter_df),columns=letter_df.columns)
letter_df.insert(0,0,letter_col,True)
letter_df.insert(16,16,pred_column,True)
letter_df.sample(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16
4514,O,0.266667,0.466667,0.333333,0.333333,0.266667,0.466667,0.466667,0.466667,0.266667,0.533333,0.333333,0.666667,0.266667,0.533333,0.200000,7
8965,O,0.200000,0.400000,0.266667,0.266667,0.200000,0.466667,0.533333,0.400000,0.266667,0.600000,0.466667,0.533333,0.200000,0.533333,0.200000,8
9369,C,0.200000,0.533333,0.266667,0.400000,0.133333,0.400000,0.533333,0.466667,0.600000,0.333333,0.466667,0.800000,0.066667,0.466667,0.266667,9
9778,A,0.266667,0.666667,0.466667,0.533333,0.333333,0.800000,0.200000,0.133333,0.133333,0.600000,0.133333,0.600000,0.133333,0.400000,0.133333,8
7014,H,0.333333,0.533333,0.533333,0.400000,0.400000,0.466667,0.400000,0.200000,0.400000,0.666667,0.466667,0.533333,0.200000,0.533333,0.200000,7
16353,D,0.266667,0.466667,0.400000,0.333333,0.333333,0.533333,0.533333,0.400000,0.333333,0.600000,0.333333,0.266667,0.333333,0.533333,0.333333,9
6173,J,0.200000,0.533333,0.266667,0.400000,0.133333,0.533333,0.466667,0.066667,0.466667,0.733333,0.333333,0.466667,0.066667,0.400000,0.133333,6
17365,I,0.000000,0.533333,0.000000,0.333333,0.000000,0.466667,0.466667,0.266667,0.266667,0.466667,0.400000,0.533333,0.000000,0.533333,0.000000,8
17505,J,0.200000,0.733333,0.266667,0.533333,0.133333,0.600000,0.266667,0.333333,0.533333,0.800000,0.266667,0.800000,0.066667,0.400000,0.133333,6
12703,A,0.133333,0.400000,0.266667,0.266667,0.200000,0.533333,0.200000,0.133333,0.066667,0.466667,0.133333,0.533333,0.066667,0.466667,0.133333,8

In [8]:
# parameters = {'C':[1],'penalty':['l2']}
X = covtype_df.drop(columns=[0])
y = np.where(covtype_df[16] == 2,1,0)
log_reg = LogisticRegression()
clf = GridSearchCV(estimator=log_reg,param_grid=parameters)
clf.fit(X,y)
print(clf.score(X))

NameError: name 'parameters' is not defined